<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg">
    <listeners>
        <listener class-name="resources.ExtentReporterNG"/>
        <listener class-name="resources.Listeners"/>
    </listeners>

    <!--<test name="Test">-->
    <!--<classes>-->
    <!--<class name="resources.MulLogin"/>-->
    <!--</classes>-->
    <!--</test>-->

    <test name="Registration Test">
        <classes>
            <class name="user.MulRegister"/>
        </classes>
    </test>
    <test name="user.Verify Test">
        <classes>
            <class name="user.Verify"/>
        </classes>
    </test>

    <!--    <test name="Creating an ambulant Organisation">-->
    <!--        <classes>-->
    <!--            <class name="departments.CreateAmbulantOrganisation"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="Creating a stationary Organisation">-->
    <!--        <classes>-->
    <!--            <class name="departments.CreateStationaryOrganisation"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="Creating a day-night-care Organisation">-->
    <!--        <classes>-->
    <!--            <class name="departments.CreateDayNightCareOrganisation"/>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="Creating a Fair House Offer Organisation">-->
    <!--        <classes>-->
    <!--                <class name="departments.CreateFairHouseOffer"/>-->
    <!--            </classes>-->
    <!--        </test>-->

    <!--<test name="Editing Departments">-->
    <!--<classes>-->
    <!--<class name="departments.EditOrganisation"/>-->
    <!--</classes>-->
    <!--</test>-->

    <!--    <test name="Make public Departments">-->
    <!--        <classes>-->
    <!--            <class name="departments.ToggleOrganisation"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--<test name="Deleting Organisations">-->
    <!--<classes>-->
    <!--<class name="departments.DeleteOrganisation"/>-->
    <!--</classes>-->
    <!--</test>-->

    <!--<test name="Creating a Contact Person">-->
    <!--<classes>-->
    <!--<class name="contactPerson.CreateContactPerson"/>-->
    <!--</classes>-->
    <!--</test>-->
    <!--<test name="Edit a Contact Person">-->
    <!--<classes>-->
    <!--<class name="contactPerson.EditContactPerson"/>-->
    <!--</classes>-->
    <!--</test>-->
    <!--<test name="Invite a Contact Person">-->
    <!--<classes>-->
    <!--<class name="contactPerson.InviteContactPerson"/>-->
    <!--</classes>-->
    <!--</test>-->
    <!--<test name="Delete a Contact Person">-->
    <!--<classes>-->
    <!--<class name="contactPerson.DeleteContactPerson"/>-->
    <!--</classes>-->
    <!--</test>-->
    <!--<test name="Contact Person gets Department">-->
    <!--<classes>-->
    <!--<class name="contactPerson.ContactPersonGetDepartment"/>-->
    <!--</classes>-->
    <!--</test>-->

    <!--<test name="Create new Placement">-->
    <!--<classes>-->
    <!--<class name="placements.CreateNewPlacement"/>-->
    <!--</classes>-->
    <!--</test>-->

    <test name="Delete Placement">
        <classes>
            <class name="placements.DeletePlacement"/>
        </classes>
    </test>

    <test name="Delete User">
        <classes>
            <class name="user.DeleteUser"/>
        </classes>
    </test>
</suite>